header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #0b52a4;
  color: white;
  position: relative;
  z-index: 5;

  h2 {
    margin-left: 1%;
    color: whitesmoke;
  }
}
