<app-title-container [title]="titleValue"></app-title-container>

<div class="homeInfoContainer">
  <app-info-container
    *ngIf="joNumber$ | async as joNumber"
    [data]="joNumber"
    class="homeInfoContainer__component"
  ></app-info-container>
  <app-info-container
    *ngIf="countryNumber$ | async as countryNumber"
    [data]="countryNumber"
    class="homeInfoContainer__component"
  ></app-info-container>
</div>

<div class="pieChartContainer">
  <app-pie-chart-container
    *ngIf="pieChartDatas$ | async as pieChartDatas"
    [data]="pieChartDatas"
  ></app-pie-chart-container>
</div>
