@import "../../../assets/Style/Variable";

.arrowLinkContainer {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: $color-background-primary;
  margin-left: 10px;
}

.customIcon {
  font-size: 26px;
}
